#home #catalogo {
  height: 95vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding: 20px 100px;
}

#home #catalogo img {
  width: 48%;
  max-width: 735px;
  height: 100%;

  border-radius: 20px;

  object-fit: cover;

  margin-right: 30px;
}

#home #catalogo > div {
  width: 50%;
  max-width: 735px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home #catalogo > div .title-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home #catalogo > div .title-line h4 {
  transform: rotate(-90deg);

  font-size: 32px;

  position: relative;
  left: 15px;
}

#home #catalogo > div .title-line h1 {
  font-size: 110px;
  position: relative;
  right: 15px;
}

#home #catalogo > div .text {
  font-size: 22px;
  line-height: 26px;

  text-align: center;
}

#home #catalogo > div .buttons {
  display: flex;
  justify-content: center;
}

#home #catalogo > div .buttons div {
  width: 200px;
  height: 60px;

  background-color: #129a06;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  color: white;

  cursor: pointer;

  transition: 0.4s;
}

#home #catalogo > div .buttons div:hover {
  background-color: #0f6d07;
}

#home #catalogo > div .buttons .pedir-agora {
  margin-right: 20px;
}

@media (max-width: 1200px) {
  #home #catalogo > div .title-line h4 {
    font-size: 24px;
    left: 5px;
  }
  
  #home #catalogo > div .title-line h1 {
    font-size: 80px;
  }

  #home #catalogo > div .text {
    font-size: 18px;
    line-height: 22px;
  }

  #home #catalogo > div .buttons div {
    width: 160px;
    height: 50px;
  
    font-size: 20px;
  }
}

@media (max-width: 870px) {
  #home #catalogo > div .title-line h4 {
    font-size: 20px;
  }
  
  #home #catalogo > div .title-line h1 {
    font-size: 60px;
    right: 10px;
  }

  #home #catalogo > div .text {
    font-size: 14px;
    line-height: 18px;
  }

  #home #catalogo > div .buttons div {
    width: 120px;
    height: 40px;

    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #home #catalogo {
    padding: 20px 60px;
  }
}

@media (max-width: 640px) {
  #home #catalogo {
    flex-direction: column;
  }

  #home #catalogo img {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #home #catalogo > div {
    width: 100%;
  }
}

@media (max-width: 570px) {
  #home #catalogo > div .title-line h4 {
    font-size: 16px;
  }
  
  #home #catalogo > div .title-line h1 {
    font-size: 50px;
    right: 5px;
  }

  #home #catalogo > div .text {
    font-size: 12px;
    line-height: 16px;
  }

  #home #catalogo > div .buttons {
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  #home #catalogo {
    padding: 20px 20px;
  }
}